.allContent, .form-group{
    margin: 3%;
    background-color: lightblue;
}

.allContent{
 border: solid;
 border-color: black;   
}

#contactInfo{
    text-align: center;
    padding-bottom: 3%;
}

.heading{
    padding-top: 2%;
}